{% extends 'dashboard/base.html' %}

{% block title %}<title>New Process</title>{% endblock title %}


{% block content %}

<form class="form-horizontal" role="form" id="process-create-form" action="" method="POST">
{% csrf_token %}
    <div class="form-group">
        <label for="prcess-name" class="control-label col-sm-2">Process Name</label>
        <div class="col-sm-10 col-md-6">
            <input type="text" name="name" class="form-control" id="process-name" value="{{p.name}}" readonly>
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-sm-2">Execution</span>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="parallel" class="col-md-2 control-label">Concurrency</label>
                <div class="col-sm-3 col-md-2">
                    <input type="number"  name="parallel" class="form-control" id="parallel" min="1" value="{{p.parallel}}">
                </div>
                <label for="order" class="control-label col-sm-2 col-md-2">Order</label>
                <div class="col-sm-3 col-md-2">
                    <select name="order" class="form-control" id="order">
                        <option value="fifo" {% if p.order == 'fifo' %}selected{% endif %}>FIFO</option>
                        <option value="last" {% if p.order == 'last' %}selected{% endif %}>LAST</option>
                        <option value="lifo" {% if p.order == 'lifo' %}selected{% endif %}>LIFO</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="frequency" class="control-label col-sm-2">Frequency</label>
        <div class="col-md-2">
            <input class="form-control" type="text" name="frequency" value="{{p.frequency}}">
        </div>
    </div>

    <div class="form-group">
        <label for="timeout-unit" class="control-label col-sm-2">Timeout</label>
        <div class="col-md-2">
            <input class="form-control" type="text" name="timeout-value" value="{{p.timeout}}">
        </div>
    </div>

    <div class="form-group">
        <label for="retry_after" class="control-label col-sm-2">Retry-After</label>
        <div class="col-md-2">
            <input class="form-control" id="retry_after" type="text" min="1" name="retry_after" value="{{p.retry.after}}">
        </div>
    </div>

    <div class="form-group">
        <label for="retry_policy" class="control-label col-sm-2">Retry-Policy</label>
        <div class="col-sm-10 col-md-6">
            <div class="col-md-4">
                <select class="form-control" name="rt_policy" id="retry_policy">
                    <option value="linear" {% if p.retry.policy == 'linear' %}selected{% endif %}>Linear BackOff</option>
                    <option value="exponential" {% if p.retry.policy == 'exponential' %}selected{% endif %}>Exponential BackOff</option>
                </select>
            </div>
            <label for="retry_attempts"class="control-label col-md-2">Attempts</label>
            <div class="col-md-2">
                <input id="retry_attempts" class="form-control" name="retry_attempts" min="1" value="{{p.retry.attempts}}">
            </div>
        </div>
    </div>

    <fieldset>
        <legend>Clusters</legend>
        <div class="form-group">
            <button type="button" id="add-cluster" class="btn btn-success">Add more</button>
        </div>

        {% for cluster in p.clusters %}
        <div class="well form-group">
            <div class="col-md-2">
                <select name="cluster-{{forloop.counter}}" class="form-control cluster-widget-select">
                    <!-- fill this from backend -->
                    {% for cl in clusters %}
                        <option value="{{cl.name}}" {% if cl == cluster.name %}selected{% endif %}>{{cl|capfirst}}</option>
                    {% endfor %}
                </select>
            </div>

            <label for="cluster-start-time-{{forloop.counter}}" class="control-label col-md-1">Start</label>
            <div class="col-md-3">
                <div class="input-group date bootstrap-datetimepicker" data-date-format="YYYY-MM-DD HH:mm">
                    <input type="text" class="form-control" name="cluster-start-time-{{forloop.counter}}" value="{{cluster.start}}"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <label for="cluster-end-time-{{forloop.counter}}" class="control-label col-md-1">End</label>
            <div class="col-md-3">
                <div class="input-group date bootstrap-datetimepicker" data-date-format="YYYY-MM-DD HH:mm">
                    <input type="text" class="form-control" name="cluster-end-time-{{forloop.counter}}" value="{{cluster.end}}"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <!-- Delete button should hide itself when only one cluster definition left -->
            <button type="button" class="btn btn-danger pull-right delete-cluster">Delete</button>
        </div>    
        {% endfor %}
        
    </fieldset>

    <fieldset>
        <legend>Input-Feeds</legend>
        <div class="form-group">
            <button type="button" id="add-input-feed" class="btn btn-success">Add more</button>
        </div>

        {% for input in p.inputs %}
        <div class="well">
            <div class="form-group">
                <label class="control-label col-sm-1" for="input-feed-{{forloop.counter}}">Feed</label>
                <div class="col-sm-3">
                    <select class="form-control" name="input-feed-{{forloop.counter}}">
                        {% for feed in feeds %}
                            <option value="{{feed}}" {% if input.feed == feed%}selected{% endif %}>{{feed}}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="control-label col-sm-1" for="">Alias</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="input-feed-{{forloop.counter}}-alias" value="{{input.name}}">
                </div>

                <label class="control-label col-sm-1" for="">Partition</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="input-feed-{{forloop.counter}}-partition" value="{{input.partition}}">
                </div>

                <label class="control-label col-sm-1" for="">Optional</label>
                <div class="col-sm-1">
                    <input type="checkbox" class="form-control" name="input-feed-{{forloop.counter}}-optional" value="1" {% if input.optional %}checked{% endif %}>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-1" for="input-feed-{{forloop.counter}}">Start</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="input-feed-{{forloop.counter}}-start-time" value="{{input.start}}"/>
                </div>
                <label class="control-label col-sm-1" for="input-feed-{{forloop.counter}}">End</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="input-feed-{{forloop.counter}}-end-time" value="{{input.end}}"/>
                </div>
                <button type="button" class="btn btn-danger pull-right delete-input-feed">Delete</button>
            </div>
        </div>
        {% endfor %}
    </fieldset>


    <fieldset>
        <legend>Output-Feeds</legend>
        <div class="form-group">
            <button type="button" id="add-output-feed" class="btn btn-success">Add more</button>
        </div>
        {% for output in p.outputs %}
        <div class="well">
            <div class="form-group">
                <label class="control-label col-sm-1" for="output-feed-">Feed</label>
                <div class="col-sm-3">
                    <select class="form-control" name="output-feed-{{forloop.counter}}">
                        {% for feed in feeds %}
                            <option value="{{feed}}" {% if output.feed == feed %}selected{% endif %}>{{feed}}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="control-label col-sm-1" for="">Alias</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="output-feed-{{forloop.counter}}-alias" value="{{output.name}}">
                </div>

                <label class="control-label col-sm-1" for="">Instance</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="output-feed-{{forloop.counter}}-partition" value="{{output.instance}}" >
                </div>
                <button type="button" class="btn btn-danger pull-right delete-output-feed">Delete</button>
            </div>
        </div>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Properties</legend>
        <div class="form-group">
            <button type="button" id="add-property" class="btn btn-success">Add more</button>
        </div>

        {% for key, value in p.properties.items %}
        <div class="well">
            <div class="form-group">
                <label for="property-key-{{forloop.counter}}" class="control-label col-sm-1">Key</label>
                <div class="col-sm-10 col-md-2">
                    <input type="text"  name="property-key-{{forloop.counter}}" class="form-control" id="property-key-{{forloop.counter}}" value="{{key}}">
                </div>

                <label for="property-value-{{forloop.counter}}" class="control-label col-sm-1">Value</label>
                <div class="col-sm-10 col-md-4">
                    <input type="text"  name="property-value-{{forloop.counter}}" class="form-control" id="property-value-{{forloop.counter}}" value="{{value}}">
                </div>
                <button type="button" class="btn btn-danger pull-right delete-property">Delete</button>
            </div>
        </div>
        {%  endfor %}
    </fieldset>

    <fieldset>
        <legend>Workflow</legend>

        <div class="form-group">
            <label for="wf-engine" class="control-label col-sm-2">Workflow</label>
            <div class="col-md-2">
                <select name="wf-engine" class="form-control col-md-4" id="wf-engine">
                    {% for wf in workflows %}
                    <option value="{{wf}}" {% if p.workflow.engine == wf %}selected{% endif %}>{{wf|capfirst}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <input class="form-control" type="text" name="wf_path" value="{{p.workflow.path}}">
            </div>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary center-block">Submit</button>
</form>



{% endblock content %}



{% block child_js %}
<script type="text/javascript">
$(function(){
    var inputFeedCount = 1; //TODO: should be length of elements that exist
    var outputFeedCount = 1;
    var clusterCount = 1;
    var propertyCount = 1;
// click on any element with delete parent class will remove it's parent element from DOM
    $(document).on('click', '.delete-input-feed', function(){
        $(this).closest('div.well').remove();
        inputFeedCount--;
    });

    $(document).on('click', '.delete-output-feed', function(){
        $(this).closest('div.well').remove();
        outputFeedCount--;
    });

    $(document).on('click', '.delete-cluster', function(){
        $(this).closest('div.well').remove();
        clusterCount--;
    });

    $(document).on('click', '.delete-property', function(){
        $(this).closest('div.well').remove();
        propertyCount--;
    });

// Clicking on any add-more-* button will clone it's adjacent sibling along with values and add it as first child
    
    $('#add-input-feed').on('click', function(){
        inputFeedCount++;
        $(this).parent().parent().append('<div class="well">\
            <div class="form-group">\
                <label class="control-label col-sm-1" for="input-feed-'+inputFeedCount+'">Feed</label>\
                <div class="col-sm-3">\
                    <select class="form-control" name="input-feed-'+inputFeedCount+'">\
                        {% for feed in feeds %}\
                        <option value="{{feed}}">{{feed}}</option>\
                        {% endfor %}\
                    </select>\
                </div>\
                <label class="control-label col-sm-1" for="">Alias</label>\
                <div class="col-sm-2">\
                    <input type="text" class="form-control" name="input-feed-'+inputFeedCount+'-alias" >\
                </div>\
                <label class="control-label col-sm-1" for="">Partition</label>\
                <div class="col-sm-2">\
                    <input type="text" class="form-control" name="input-feed-'+inputFeedCount+'-partition" >\
                </div>\
                <label class="control-label col-sm-1" for="">Optional</label>\
                <div class="col-sm-1">\
                    <input type="checkbox" class="form-control" name="input-feed-'+inputFeedCount+'-optional" value="1" >\
                </div>\
            </div>\
            <div class="form-group">\
                <label class="control-label col-sm-1" >Start</label>\
                <div class="col-md-3">\
                    <div class="input-group date bootstrap-datetimepicker" data-date-format="YYYY-MM-DD HH:mm">\
                        <input type="text" class="form-control" name="input-feed-'+inputFeedCount+'-start-time"/>\
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>\
                    </div>\
                </div>\
                <label class="control-label col-sm-1" >End</label>\
                <div class="col-md-3">\
                    <div class="input-group date bootstrap-datetimepicker" data-date-format="YYYY-MM-DD HH:mm">\
                        <input type="text" class="form-control" name="input-feed-'+inputFeedCount+'-end-time"/>\
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>\
                    </div>\
                </div>\
                <button type="button" class="btn btn-danger pull-right delete-input-feed">Delete</button>\
            </div>\
        </div>');

    });

    $('#add-output-feed').on('click', function(){
        outputFeedCount++;
        $(this).parent().parent().append('<div class="well">\
            <div class="form-group">\
                <label class="control-label col-sm-"'+ outputFeedCount+'for="input-feed-"'+ outputFeedCount+'>Feed</label>\
                <div class="col-sm-3">\
                    <select class="form-control" name="input-feed-"' + outputFeedCount + '>\
                        {% for feed in feeds %}\
                        <option value="{{feed}}">{{feed}}</option>\
                        {% endfor %}\
                    </select>\
                </div>\
                <label class="control-label col-sm-1" for="">Alias</label>\
                <div class="col-sm-2">\
                    <input type="text" class="form-control" name="input-feed-' + outputFeedCount + '-alias" >\
                </div>\
                <label class="control-label col-sm-1" for="">Instance</label>\
                <div class="col-sm-2">\
                    <input type="text" class="form-control" name="input-feed-' + outputFeedCount + '-partition" >\
                </div>\
                <button type="button" class="btn btn-danger pull-right delete-output-feed">Delete</button>\
            </div>\
        </div>');
    });
    
    $('#add-cluster').on('click', function(){
        clusterCount++;
        $(this).parent().parent().append('<div class="well form-group">\
            <div class="col-md-2">\
                <select name="cluster-'+clusterCount+'" class="form-control cluster-widget-select">\
                    {% for cluster in clusters %}\
                    <option value="{{cluster}}">{{cluster}}</option>\
                    {% endfor %}\
                </select>\
            </div>\
            <label for="cluster-1-start-time" class="control-label col-md-1">Start</label>\
            <div class="col-md-3">\
                <div class="input-group date bootstrap-datetimepicker" data-date-format="YYYY-MM-DD HH:mm">\
                    <input type="text" class="form-control" name="cluster-'+clusterCount+'-start-time"/>\
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>\
                </div>\
            </div>\
            <label for="cluster-1-end-time" class="control-label col-md-1">End</label>\
            <div class="col-md-3">\
                <div class="input-group date bootstrap-datetimepicker" data-date-format="YYYY-MM-DD HH:mm">\
                    <input type="text" class="form-control" name="cluster-'+clusterCount+'-end-time"/>\
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>\
                </div>\
            </div>\
            <button type="button" class="btn btn-danger pull-right delete-cluster">Delete</button>\
        </div>');

    });

    $('#add-property').on('click', function(){
        propertyCount++;
        $(this).parent().parent().append('<div class="well">\
            <div class="form-group">\
            <label for="property-key-'+propertyCount+'" class="control-label col-sm-1">Key</label>\
            <div class="col-sm-10 col-md-2">\
            <input type="text"  name="property-key-'+propertyCount+'" class="form-control" id="property-key-'+propertyCount+'">\
            </div>\
            <label for="property-value-'+propertyCount+'" class="control-label col-sm-1">Value</label>\
            <div class="col-sm-10 col-md-4">\
            <input type="text"  name="property-value-'+propertyCount+'" class="form-control" id="property-value-'+propertyCount+'">\
            </div>\
            <button type="button" class="btn btn-danger pull-right delete-property">Delete</button>\
            </div>\
            </div>');

});
});


</script>
{% endblock child_js %}