<div class="panel panel-default" id="panel-definition">
  <div class="panel-heading">
    Definition
    <span class="pull-right">
      {% if type == 'process' %}
        <a href="{% url 'edit_process' name %}"> Edit </a>
      {% elif type == 'feed' %}
        <a href="{% url 'edit_feed' name %}"> Edit </a>
      {% elif type == 'cluster' %}
        <a href="{% url 'edit_cluster' name %}"> Edit </a>
      {% endif %}
    </span>
  </div>

  <div class="panel-body"> 
    <textarea class="form-control" id="entity-def-textarea">
      {{entity_definition}}
    </textarea>    
  </div>
</div>
